* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  height: 100vh;
}
#canvas {
  height: 100vh;
  width: 80vw;
  background: #ddd;
}
#box{
  width:80vw;
  display: flex;
  height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
}
.btn {
  margin: 15px;
  height: 50px;
  width: 50px;
  user-select: none;
}